.cartItem{
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  .titleWrap{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  .itemTitle {
    h4{
      margin-bottom: 0;
    }
    p{
      font-size: 80%;
      font-style: italic;
    }
  }
}