.cartWrap{

  .cartIcon{
    max-width: 41px;
    margin-left: auto;
    margin-right: auto;
  }

  .cartCounts{
    display: block;
    clear: both;
    text-decoration: underline;
  }
}
.quantityIcon{
  border-radius: 50%;
  background: red;
  padding: 0.10rem;
  color: white;
  width: 1.3rem;
  height: 1.3rem;
  margin-top: 0.6rem;
  margin-left: -0.3rem;
}