.itemGrid{
  margin: 1rem;
  .cartHeading{
    display: grid;
    font-weight: bold;
    grid-template-columns: 1fr auto;
    border-bottom: 1px solid #222;
    margin-bottom: 1rem;
    .cartQuantityHeader, .cartTotalHeader{
      display: none;
    }
  }
}
.cartGreeting{
  text-align: center;
  h1{
    margin-bottom: 0.1rem;
  }
}
