.itemGrid{
  margin: 1rem;
  .cartHeading{
    display: grid;
    font-weight: bold;
    grid-template-columns: 1fr auto;
    border-bottom: 1px solid #222;
    margin-bottom: 1rem;
    .cartQuantityHeader, .cartTotalHeader{
      display: none;
    }
  }
}
.cartGreeting{
  text-align: center;
  h1{
    margin-bottom: 0.1rem;
  }
}

.cartItem{
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  .itemProductInfo{
    display: flex;

    .itemPic{
      img{
        margin-bottom: 0px;
      }
    }
    .itemDetails{
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      .itemTitle {
        h6{
          margin-bottom: 0;
        }
        .styleType{
          font-size: 80%;
          font-style: italic;
          color: #444;
          margin-bottom: 0;
        }
      }
    }
  }
  .itemPrices{
    text-align: right;
  }

}
